table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
img {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: auto;
}